In [1]:
import pandas as pd

In [2]:
# cp949 - 확장형 인코딩 방법
df = pd.read_csv('apt.csv',encoding='cp949')
df

,지역,번지,본번,부번,아파트,면적,계약년월,계약일,가격,층,건축년도,도로명
0,강원도 강릉시 견소동,202,202,0,송정한신,59.800,201910,4,10900,5,1997,경강로2539번길 8
1,강원도 강릉시 견소동,202,202,0,송정한신,116.175,201910,31,18500,10,1997,경강로2539번길 8
2,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,5,25000,6,2005,경강로2539번길 22
3,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,12,20600,3,2005,경강로2539번길 22
4,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,20,20500,1,2005,경강로2539번길 22
...,...,...,...,...,...,...,...,...,...,...,...,...
42753,충청북도 충주시 호암동,547-6,547,6,호반현대,59.760,201910,29,7000,3,1994,신촌2길 28
42754,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,5,12000,15,2002,원호암5길 32
42755,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,15,11000,7,2002,원호암5길 32
42756,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,17,12000,14,2002,원호암5길 32
42757,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,26,11200,11,2002,원호암5길 32

In [3]:
# euc-kr
# utf-8

### 자료 출력하기

In [6]:
# 지역 열의 전체 자료 가져오기
# 지역 열의 전체 행 가져오기
# loc, iloc -> 인덱서
# 자료, 인덱서 [행, 열]
# loc : 인덱스의 이름을 사용 -> '지역'
# iloc : 인덱스의 번호를 사용 -> 0

In [8]:
df.loc[:, '지역']

0         강원도 강릉시 견소동
1         강원도 강릉시 견소동
2         강원도 강릉시 견소동
3         강원도 강릉시 견소동
4         강원도 강릉시 견소동
             ...
42753    충청북도 충주시 호암동
42754    충청북도 충주시 호암동
42755    충청북도 충주시 호암동
42756    충청북도 충주시 호암동
42757    충청북도 충주시 호암동
Name: 지역, Length: 42758, dtype: object

In [9]:
df.iloc[:,0]

0         강원도 강릉시 견소동
1         강원도 강릉시 견소동
2         강원도 강릉시 견소동
3         강원도 강릉시 견소동
4         강원도 강릉시 견소동
             ...
42753    충청북도 충주시 호암동
42754    충청북도 충주시 호암동
42755    충청북도 충주시 호암동
42756    충청북도 충주시 호암동
42757    충청북도 충주시 호암동
Name: 지역, Length: 42758, dtype: object

In [11]:
# 전체 행, 지역부터 아파트 까지의 열 출력하기

In [15]:
df.loc[:,'지역':'아파트']

                 지역      번지   본번  부번           아파트
0       강원도 강릉시 견소동     202  202   0          송정한신
1       강원도 강릉시 견소동     202  202   0          송정한신
2       강원도 강릉시 견소동     289  289   0  송정해변신도브래뉴아파트
3       강원도 강릉시 견소동     289  289   0  송정해변신도브래뉴아파트
4       강원도 강릉시 견소동     289  289   0  송정해변신도브래뉴아파트
...             ...     ...  ...  ..           ...
42753  충청북도 충주시 호암동   547-6  547   6          호반현대
42754  충청북도 충주시 호암동  221-23  221  23    호암리버빌(1단지)
42755  충청북도 충주시 호암동  221-23  221  23    호암리버빌(1단지)
42756  충청북도 충주시 호암동  221-23  221  23    호암리버빌(1단지)
42757  충청북도 충주시 호암동  221-23  221  23    호암리버빌(1단지)

[42758 rows x 5 columns]

In [16]:
df.iloc[:,0:5]

                 지역      번지   본번  부번           아파트
0       강원도 강릉시 견소동     202  202   0          송정한신
1       강원도 강릉시 견소동     202  202   0          송정한신
2       강원도 강릉시 견소동     289  289   0  송정해변신도브래뉴아파트
3       강원도 강릉시 견소동     289  289   0  송정해변신도브래뉴아파트
4       강원도 강릉시 견소동     289  289   0  송정해변신도브래뉴아파트
...             ...     ...  ...  ..           ...
42753  충청북도 충주시 호암동   547-6  547   6          호반현대
42754  충청북도 충주시 호암동  221-23  221  23    호암리버빌(1단지)
42755  충청북도 충주시 호암동  221-23  221  23    호암리버빌(1단지)
42756  충청북도 충주시 호암동  221-23  221  23    호암리버빌(1단지)
42757  충청북도 충주시 호암동  221-23  221  23    호암리버빌(1단지)

[42758 rows x 5 columns]

In [17]:
# 전체 행, 지역과 면적 열만 출력하기

In [22]:
df.loc[:,['지역','면적']]

                 지역       면적
0       강원도 강릉시 견소동   59.800
1       강원도 강릉시 견소동  116.175
2       강원도 강릉시 견소동   84.990
3       강원도 강릉시 견소동   84.990
4       강원도 강릉시 견소동   84.990
...             ...      ...
42753  충청북도 충주시 호암동   59.760
42754  충청북도 충주시 호암동   84.680
42755  충청북도 충주시 호암동   84.680
42756  충청북도 충주시 호암동   84.680
42757  충청북도 충주시 호암동   84.680

[42758 rows x 2 columns]

In [20]:
df.iloc[:,[0,5]]

                 지역       면적
0       강원도 강릉시 견소동   59.800
1       강원도 강릉시 견소동  116.175
2       강원도 강릉시 견소동   84.990
3       강원도 강릉시 견소동   84.990
4       강원도 강릉시 견소동   84.990
...             ...      ...
42753  충청북도 충주시 호암동   59.760
42754  충청북도 충주시 호암동   84.680
42755  충청북도 충주시 호암동   84.680
42756  충청북도 충주시 호암동   84.680
42757  충청북도 충주시 호암동   84.680

[42758 rows x 2 columns]

### 조건별로 출력하기

In [23]:
# 전체 행, 지역과 면적 열만 출력하기
# 리스트로 묶어서 출력하기
df.loc[:,['지역','면적','지역']]

                 지역       면적            지역
0       강원도 강릉시 견소동   59.800   강원도 강릉시 견소동
1       강원도 강릉시 견소동  116.175   강원도 강릉시 견소동
2       강원도 강릉시 견소동   84.990   강원도 강릉시 견소동
3       강원도 강릉시 견소동   84.990   강원도 강릉시 견소동
4       강원도 강릉시 견소동   84.990   강원도 강릉시 견소동
...             ...      ...           ...
42753  충청북도 충주시 호암동   59.760  충청북도 충주시 호암동
42754  충청북도 충주시 호암동   84.680  충청북도 충주시 호암동
42755  충청북도 충주시 호암동   84.680  충청북도 충주시 호암동
42756  충청북도 충주시 호암동   84.680  충청북도 충주시 호암동
42757  충청북도 충주시 호암동   84.680  충청북도 충주시 호암동

[42758 rows x 3 columns]

### 조건별로 출력하기
- 불리언 인덱싱

- 면적이 130 이상인 아파트행들의 전체 열 출력
- 면적이 130 이상인 값 = True
- 면적이 130 미만인 값 = False

In [33]:
df['면적'] >= 130

0        False
1        False
2        False
3        False
4        False
         ...
42753    False
42754    False
42755    False
42756    False
42757    False
Name: 면적, Length: 42758, dtype: bool

In [34]:
# 인덱싱을 불리언 값으로 하는 것 = 불리언 인덱싱
# True의 값을 가진 행 출력
# False의 값을 가진 행 출력 X
df[df['면적'] >= 130]

,지역,번지,본번,부번,아파트,면적,계약년월,계약일,가격,층,건축년도,도로명
6,강원도 강릉시 교동,1982,1982,0,강릉교동롯데캐슬1단지,135.1727,201910,21,34300,9,2009,화부산로99번길 12
39,강원도 강릉시 남문동,183-2,183,2,삼익그린맨션,164.7540,201910,15,21000,12,1992,홍제로 7-17
334,강원도 속초시 금호동,629,629,0,보람레이크더하임,156.7600,201910,16,29500,1,2008,영랑호반길 115-13
433,강원도 원주시 개운동,01월 28일,28,1,원주힐스테이트,133.9912,201910,5,26000,16,2006,행구로 54
434,강원도 원주시 개운동,01월 28일,28,1,원주힐스테이트,137.4292,201910,31,24000,14,2006,행구로 54
...,...,...,...,...,...,...,...,...,...,...,...,...
42595,충청북도 충주시 문화동,2260,2260,0,럭키,156.7900,201910,21,15000,3,1993,중원대로 3379
42607,충청북도 충주시 안림동,1166,1166,0,엘리시아,136.1287,201910,19,18500,12,2007,국원초1길 48
42663,충청북도 충주시 연수동,1627,1627,0,연수힐스테이트,143.2109,201910,14,31500,13,2007,연수동산로 26
42736,충청북도 충주시 칠금동,626,626,0,삼일,143.5800,201910,20,18500,12,1996,금릉로 17
42737,충청북도 충주시 칠금동,626,626,0,삼일,143.5800,201910,21,16200,3,1996,금릉로 17

In [35]:
# 인덱서
df.loc[df['면적']>=130,:]

,지역,번지,본번,부번,아파트,면적,계약년월,계약일,가격,층,건축년도,도로명
6,강원도 강릉시 교동,1982,1982,0,강릉교동롯데캐슬1단지,135.1727,201910,21,34300,9,2009,화부산로99번길 12
39,강원도 강릉시 남문동,183-2,183,2,삼익그린맨션,164.7540,201910,15,21000,12,1992,홍제로 7-17
334,강원도 속초시 금호동,629,629,0,보람레이크더하임,156.7600,201910,16,29500,1,2008,영랑호반길 115-13
433,강원도 원주시 개운동,01월 28일,28,1,원주힐스테이트,133.9912,201910,5,26000,16,2006,행구로 54
434,강원도 원주시 개운동,01월 28일,28,1,원주힐스테이트,137.4292,201910,31,24000,14,2006,행구로 54
...,...,...,...,...,...,...,...,...,...,...,...,...
42595,충청북도 충주시 문화동,2260,2260,0,럭키,156.7900,201910,21,15000,3,1993,중원대로 3379
42607,충청북도 충주시 안림동,1166,1166,0,엘리시아,136.1287,201910,19,18500,12,2007,국원초1길 48
42663,충청북도 충주시 연수동,1627,1627,0,연수힐스테이트,143.2109,201910,14,31500,13,2007,연수동산로 26
42736,충청북도 충주시 칠금동,626,626,0,삼일,143.5800,201910,20,18500,12,1996,금릉로 17
42737,충청북도 충주시 칠금동,626,626,0,삼일,143.5800,201910,21,16200,3,1996,금릉로 17

- 면적이 130 이상인 아파트의 가격만 출력
- 행 : 면적이 130 이상
- 열 : 가격

In [36]:
df.loc[df['면적']>=130,'가격']

6        34300
39       21000
334      29500
433      26000
434      24000
         ...
42595    15000
42607    18500
42663    31500
42736    18500
42737    16200
Name: 가격, Length: 1567, dtype: int64

- 가격 컬럼은 1당 만원 즉, 1.5억 = 15000
- 면적이 130 이상이고 가격은 1.5억 미만인 아파트의 가격만 출력
- 행 : 면적이 130 이상,& 가격이 1.5억 미만 (즉, 두 개 다 True)
- 열 : 가격

In [38]:
df.loc[(df['면적']>=130) & (df['가격']<15000), '가격']

862      14900
927      13800
16785    14700
36733    14700
37726    13700
38811    14600
39487    12000
40680    12500
41173    14000
41578    13000
Name: 가격, dtype: int64

- 면적이 130 이상이고 가격은 1.5억 미만인 자료의 가격의 내림차순 출력

In [40]:
# sort_values(기준이 될 컬럼)
df.loc[(df['면적']>=130) & (df['가격']<15000), '가격'].sort_values(ascending=False)

862      14900
36733    14700
16785    14700
38811    14600
41173    14000
927      13800
37726    13700
41578    13000
40680    12500
39487    12000
Name: 가격, dtype: int64

###  원하는 값 바꾸기
- 가격 컬럼 값 바꾸기
- 가격 컬럼의 값이 800 이하면 모두 다 0으로 바꾸기

In [44]:
# 가격이 800 이하인 행의 가격 컬럼 출력
df[df['가격']<=800]['가격'] = 0 # 구버전에선 찾기 어려운 방법 (편법)

<ipython-input-44-53431781b978>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df['가격']<=800]['가격'] = 0

In [45]:
df.loc[df['가격']<=800,'가격'] = 0 # 정석적인 방법